[submodule "themes/casper-two"]
    path = themes/casper-two
    url = "https://github.com/eueung/hugo-casper-two"
[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
